* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    background-image: url("images/technology\ bg.jpg");
    /* background-color: black; */
    background-size: cover;

}

/* ==================================== header ====================================== */
header {
    background-color: #24243956;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0px;
    box-shadow: 0 0 20px 4px black;
    z-index: 2;

}

header .right-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.right-container .search {
    border: solid 2px white;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.search input {
    background: none;
    outline: none;
    border: none;
    color: white;
    padding: 5px 15px;

}

.right-container .search:hover {
    border: solid 2px orangered;
    transition: 0.8s;
}

.search input::placeholder {
    color: white;
    opacity: 0.8;
}

.search button {
    background: none;
    outline: none;
    border: none;
    color: white;
    padding-right: 10px;
    cursor: pointer;

}

.search button:hover {
    color: orangered;
    transition: 0.5s;
    transform: scale(1.2);
}

.right-container .sign-in {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sign-in button {
    background: none;
    outline: none;
    border: none;
    color: orangered;
    padding-right: 10px;
    cursor: pointer;
}

.sign-in button i {
    font-size: 25px;
}

.sign-in a {
    color: orangered;
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    display: inline;

}



.sign-in:hover {
    transform: translateX(8px);
    transition: 0.5s;
}


header .left-container {
    display: flex;
    align-items: center;
    gap: 30px;

}

.left-container h1 a {
    text-transform: uppercase;
    font-weight: 900px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    border: 2px solid white;
    padding: 3px;

}


.left-container div a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 10px;
    /* background-color: blue; */

}

.left-container div a:hover {
    /* background-color: #393581; */
    color: orangered;
    transition: 1s;
    /* transform: translateY(-4px); */
}

/* ==================================== body ====================================== */


section {
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container {
    margin-top: 100px;
    height: 80%;
    /* background-color: #5f1b1b; */
    display: flex;
    width: 80%;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px black;
    border-radius: 20px;
    align-items: center;
    justify-content: center;





}

.container .product_imgs {
    /* background-color: red; */
    flex-basis: 50%;
    padding: 10px;
    display: flex;
    justify-content: end;
    align-items: start;
}



.product_imgs .img {
    width: 300px;
    height: 350px;
    align-content: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px #ffffffc9;
    border: solid 2px white;



}

.container .product_imgs .content {
    height: 500px;
    width: 400px;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 10px;


}

.product_imgs .img img {
    width: 100%;
    object-fit: contain;

}


.sm-img {
    display: flex;
    justify-content: center;
    gap: 15px;
    /* background-color: yellow; */
    height: 80px;
    width: 75%;
    align-items: center;

}

.sm-img img {
    width: 50px;
    border-radius: 6px;
    object-fit: contain;
    border: solid #ffffff91 2px;

}

.sm-img img:hover {
    transform: translateY(-5px);
    border: solid orangered 2px;
    transition: 0.5s;
    cursor: pointer;
}


.container .product_infos {
    /* background-color: blue; */
    flex-basis: 50%;
    padding: 20px;
}

.product_infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product_infos h4 {
    text-transform: uppercase;
}

.product_infos .price {
    color: #00f500;
}

.product_infos form div {
    display: flex;
    gap: 10px;
    margin-top: 5px;

}

.product_infos form div label {
    text-transform: uppercase;
    padding: 10px;
    width: 30px;
    height: 30px;
    align-content: center;
    border-radius: 50%;
    background-color: red;

}

.product_infos form div label:hover {
    outline: solid black 3px;
    opacity: 0.8;
    cursor: pointer;
}

.product_infos form .orange {
    background-color: orangered;
}

.product_infos form .white {
    background-color: white;
}

.product_infos form .grey {
    background-color: grey;
}

.product_infos input {
    display: none;
}

.product_infos .sm-info-content {
    /* background-color: red; */
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product_infos .sm-info {
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 12px 10px;
    border-radius: 5px;
    outline: solid 2px #ffffff91;

}

.product_infos .sm-info:hover {
    outline: solid 2px white;
    background-color: orangered;
    transition: 0.5s;
    cursor: pointer;
}

.container button {
    color: white;
    border: none;
    padding: 12px 100px;
    border-radius: 30px;
    background-color: orangered;
    text-transform: capitalize;
    letter-spacing: 2px;
    cursor: pointer;
    width: 80%;

}

.container button:hover {
    background-color: #3131c0;
    transition: 0.8s;
}

/* ==================================== footer ====================================== */




footer .all {
    display: flex;
    justify-content: space-around;
    height: 200px;
    /* background-color: #242439; */
    padding: 40px 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px 4px black;

}

.all .left {
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    gap: 20px;
}

.all .left h1 a {
    text-transform: uppercase;
    font-weight: 900px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    border: 2px solid white;
    padding: 3px;
}

.all .left p {
    font-size: 13px;
}

.all .center {
    display: flex;

}

.all .center li {
    display: inline;
    margin: 10px;

}

.all .center li a {
    font-size: 15px;
    color: gray;
    text-decoration: none;
    text-transform: capitalize;

}

.all .center li :hover {
    color: orangered;
    transition: 0.5s;
}

.all .right button {
    margin: 5px;
    background: none;
    outline: none;
    border: none;
    color: white;
    padding-right: 10px;
    cursor: pointer;

}

.all button i {
    font-size: 25px;

}

.all .right button :hover {
    color: orangered;
    transform: translateY(-4px);
    transition: 0.5s;


}

@media screen and (max-width : 740px) {
    header {
        position: relative;
    }

    .left-container li {
        display: flex;

    }

    header .left-container {
        margin-top: 10px;
        flex-direction: column;
        /* background-color: #fd8b39; */
        flex-basis: 100%;

    }

    .left-container h1 a {
        text-transform: uppercase;
        font-weight: 900px;
        color: white;
        letter-spacing: 1px;
        text-decoration: none;
    }

    section {
        flex-direction: column;
    }

    .left-content {
        /* background-color: red; */
        width: 80%;
        height: 100%;
        margin-top: 35%;

    }

    .right-content {
        display: none;
    }

    .right-container {
        width: 100%;
        position: absolute;

    }

    .right-container .sign-in {
        position: absolute;
        right: 5%;
    }

    .right-container .search {
        position: absolute;
        left: 0%;
        width: 150px;
    }

    footer .all {
        height: 330PX;
        flex-direction: column;
        gap: 20px;
    }

    .all .center li {
        display: block;

    }
}

@media screen and (min-width:740px) and (max-width: 1080px) {}