* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    background-image: url("images/technology\ bg.jpg");
    /* background-color: black; */
    background-size: cover;

}

/* ==================================== header ====================================== */
header {
    background-color: #24243956;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0px;
    box-shadow: 0 0 20px 4px black;
    z-index: 2;

}

header .right-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.right-container .search {
    border: solid 2px white;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.search input {
    background: none;
    outline: none;
    border: none;
    color: white;
    padding: 5px 15px;

}

.right-container .search:hover {
    border: solid 2px orangered;
    transition: 0.8s;
}

.search input::placeholder {
    color: white;
    opacity: 0.8;
}

.search button {
    background: none;
    outline: none;
    border: none;
    color: white;
    padding-right: 10px;
    cursor: pointer;

}

.search button:hover {
    color: orangered;
    transition: 0.5s;
    transform: scale(1.2);
}

.right-container .sign-in {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sign-in button {
    background: none;
    outline: none;
    border: none;
    color: orangered;
    padding-right: 10px;
    cursor: pointer;
}

.sign-in button i {
    font-size: 25px;
}

.sign-in a {
    color: orangered;
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    display: inline;

}



.sign-in:hover {
    transform: translateX(8px);
    transition: 0.5s;
}


header .left-container {
    display: flex;
    align-items: center;
    gap: 30px;

}

.left-container h1 a {
    text-transform: uppercase;
    font-weight: 900px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    border: 2px solid white;
    padding: 3px;

}


.left-container div a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 10px;
    /* background-color: blue; */

}

.left-container div a:hover {
    /* background-color: #393581; */
    color: orangered;
    transition: 1s;
    /* transform: translateY(-4px); */
}

/* ==================================== body ====================================== */


section {
    display: flex;
    min-height: 85vh;
}

.left-content {
    margin-top: 10%;
    width: 40%;
    height: 80vb;
    color: white;
    padding-left: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* background-color: red; */


}

.left-content h1 {
    text-transform: uppercase;
    margin-bottom: 8px;
    letter-spacing: 2px;
    border-left: orangered solid 5px;
    padding-left: 10px;
}

.left-content h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-weight: lighter;
}

.left-content p {
    margin-bottom: 20px;
    text-align: justify;
    line-height: 25px;
}


.left-content button {
    outline: none;
    border: none;
    background: none;
    margin-top: 20px;
}

.left-content button a {
    color: #ffffff;
    padding: 10px 20px;
    background-color: orangered;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: bold;
    box-shadow: 0 0 15px 2px #ff440085;


}

.left-content button a:hover {
    background: white;
    color: orangered;
    border-bottom: orangered solid 5px;
    /* border-radius: 10px; */
    transition: 0.8s;
    box-shadow: 0 10px 15px 2px #ff440085;



}




.right-content {
    margin-top: 5%;
    /* background-color: red; */
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;


}


.right-content .content {
    /* background-color: black; */
    width: 550px;
    height: 500px;
    filter: drop-shadow(0 0 50px rgba(0, 0, 255, 0.2));
    overflow: hidden;
    margin-right: 100px;
}

.right-content .content:hover {

    /* filter: drop-shadow(0 0 200px rgba(255, 68, 0, 0.8)); */
    filter: drop-shadow(0 0 200px blue);
}

.right-content .content img {
    margin-top: 50px;
    width: 140%;
    /* background-color: red; */
}

.right-content .content img:hover {
    transform: scale(1.2);
    transition: 1s;

}

.animation {
    opacity: 0;
    transform: translateY(-40px);
    animation: move-side 0.7s linear forwards;
}

@keyframes move-side {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* ==================================== footer ====================================== */




footer .all {
    display: flex;
    justify-content: space-around;
    height: 200px;
    /* background-color: #242439; */
    padding: 40px 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px 4px black;

}

.all .left {
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    gap: 20px;
}

.all .left h1 a {
    text-transform: uppercase;
    font-weight: 900px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    border: 2px solid white;
    padding: 3px;
}

.all .left p {
    font-size: 13px;
}

.all .center {
    display: flex;

}

.all .center li {
    display: inline;
    margin: 10px;

}

.all .center li a {
    font-size: 15px;
    color: gray;
    text-decoration: none;
    text-transform: capitalize;

}

.all .center li :hover {
    color: orangered;
    transition: 0.5s;
}

.all .right button {
    margin: 5px;
    background: none;
    outline: none;
    border: none;
    color: white;
    padding-right: 10px;
    cursor: pointer;

}

.all button i {
    font-size: 25px;

}

.all .right button :hover {
    color: orangered;
    transform: translateY(-4px);
    transition: 0.5s;


}

@media screen and (max-width : 740px) {
    header {
        position: relative;
    }

    .left-container li {
        display: flex;

    }

    header .left-container {
        margin-top: 10px;
        flex-direction: column;
        /* background-color: #fd8b39; */
        flex-basis: 100%;

    }

    .left-container h1 a {
        text-transform: uppercase;
        font-weight: 900px;
        color: white;
        letter-spacing: 1px;
        text-decoration: none;
    }

    section {
        flex-direction: column;
    }

    .left-content {
        /* background-color: red; */
        width: 80%;
        height: 100%;
        margin-top: 35%;

    }

    .right-content {
        display: none;
    }

    .right-container {
        width: 100%;
        position: absolute;

    }

    .right-container .sign-in {
        position: absolute;
        right: 5%;
    }

    .right-container .search {
        position: absolute;
        left: 0%;
        width: 150px;
    }

    footer .all {
        height: 330PX;
        flex-direction: column;
        gap: 20px;
    }

    .all .center li {
        display: block;

    }
}

@media screen and (min-width:740px) and (max-width: 1080px) {}